

<div class="row anuncios_wrap">




	<div class=" same-col-1 col-md-4 anuncios_item">

		<div class="row">
			
			<div class="col-md-10 col-md-offset-1">			
				<div class="page-header pagina_header">
					<h2>Titulo aviso</h2>
				</div>

				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="holder.js/100x100" alt="100x100" style="width: 150px; height: 100px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC">
					</a>
					<div class="media-body">     
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
					</div>
				</div>
			</div>
		</div>
		<div class="barra_spacer_3"></div>
	</div>




	<div class=" same-col-1 col-md-4 anuncios_item">

		<div class="row">
			
			<div class="col-md-10 col-md-offset-1">			
				<div class="page-header pagina_header">
					<h2>Titulo aviso solo imagen</h2>
				</div>

				<div class="media">
					<a class="" href="#">
						<img class="media-object" data-src="holder.js/100x100" alt="100x100" style="width: 100%; height: 100px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC">
					</a>
					
				</div>
			</div>
		</div>
		<div class="barra_spacer_3"></div>
	</div>




	<div class=" same-col-1 col-md-4 anuncios_item">

		<div class="row">
			
			<div class="col-md-10 col-md-offset-1">			
				<div class="page-header pagina_header">
					<h2>Suscribite al newsletter</h2>
				</div>

				<div class="media">
					<p class="text_gris_oscuro" >registrate a nuestro newsletter  y enterate de las ultimas novedades </p>

					<div class="input-group">
						<input type="text" class="input_style form-control" placeholder="nombre@mail.com" />
						<span class="input-group-addon">@</span>
					</div>
					
				</div>
			</div>
		</div>
		<div class="barra_spacer_3"></div>
	</div>







</div>