{% extends "AppShopThemeBundle::template.html.twig" %}



{% block banners %}
{% endblock %}



{% block titulo_contenido %}
<h3 class="latto">Resultado de la busqueda de "{{termino_buscar}}"</h3>    
{% endblock %}



{% block modal %}


<div id="modalProducto" class="modal fade">



</div>


{% endblock %}