{% extends "AppShopThemeBundle::template.artsenal.html.twig" %}




{% block contenido %}

<div class="barra_spacer_3"></div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header pagina_header">
      <h2>
        Todas las compras
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default artsenal-panel ">
      <div class="panel-body">

        <div class="container-fluid">


          <div class="row">

            <div  class="col-md-12 " >


              {% for venta in ventas %}


              <div class="row lista_compra">





                <div  class="col-md-3 " >           
                {% set image_path = asset('/uploads/imagenes/productos/'  ~ venta.detalles[0].producto.imagenes[0].url ) %}
                <img style="border: 1px solid gray;" class="img-responsive" src="{{  image_path  | apply_filter('thumbnail') }}" />

                  
                </div>

                <div  class="col-md-3 " >
                  <p class="titulo_lista_compras" >Fecha compra</p>
                  <p  class="text_lista_compras aquamarina" >{{  venta.createdAt | date('Y:m:d H:i:s')  }}</p>
                </div>

                <div  class="col-md-3 " >
                  <p  class="titulo_lista_compras" >Total</p>
                  <p  class="text_lista_compras rosa" >${{  venta.total  }}</p>
                </div>


                <div  class="col-md-3 " >
                  <p class="titulo_lista_compras" >Status</p>
                  {% if venta.estado == 0  %}
                  <p class="text_lista_compras rosa" >Requiere pago</p>
                  {% endif %}
                  {% if venta.estado == 1  %}
                  <p class="text_lista_compras rosa" >En Proceso</p>
                  {% endif %}



                </div>



              </div>

              <hr>

              {% endfor %}


            </div>


          </div>

        </div>
      </div>
    </div>

  </div>
</div>



{% endblock %}