{% extends 'AppShopThemeBundle::template.html.twig' %}



{% block contenido %}



<div class="col-sm-2 col-lg-2 col-md-2"  >
	
	{% include 'AppShopThemeBundle:Blocks:contenido.menu.html.twig'  %}

</div>

<div class="col-md-10"   >




	<div class="row">
		<div class="col-md-8 ">
			<div class="lato">
				<!-- <h2 class="lato" >Comprar</h2> -->
				<p class="lead latto"  style="font-size:25px;" >Preguntas Frecuentes</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 ">
			<div class="panel panel-default artsenal-panel ">
				<div class="panel-body">

					<div class="container-fluid">

 


						{% for pregunta in preguntas %}



						<div class="row">
							<p  class="lead latto" > {{  pregunta.titulo }}</p>

							{{  pregunta.rawContent   | raw }}


						</div>
						<hr>

						{% endfor %}



					</div>
				</div>
			</div>

		</div>
	</div>


</div>




{% endblock %}