<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Artsenal{% endblock %}</title>                   
        {% stylesheets 
                'bundles/setnetartsenal/css/bootstrap.css' 
                'bundles/setnetartsenal/css/bootstrap-responsive.css' 
                'bundles/setnetartsenal/css/reset.css' 
                'bundles/setnetartsenal/css/*' 
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% javascripts '@SetnetArtsenalBundle/Resources/public/js/jquery.js' 
                       '@SetnetArtsenalBundle/Resources/public/js/jquery.nyroModal.js' 
                       '@SetnetArtsenalBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
                       
 

        <style >

            .container-fluid{
                padding-left: 0px; 
                padding-right: 0px; 
            }
        </style>


    </head>
    <body>
        <div  class="container-fluid"   >

            <div id="menu">        
            {% block navigation %} 
            {% render( controller('SetnetArtsenalBundle:Usuario:menu' ) ) %}
            {% endblock %}
            </div>

            <div class="row-fluid">



                <div  id="left-contenido" class="span2">
                {% block left_contenido %} 
                    {% render( controller('SetnetArtsenalBundle:Default:getCategorias' ) ) %}
                {% endblock %}
                </div>





                <div id="contenido"  class="span10  art-fondo-trama">

              {% block contenido %} 

                    <div  class="contenido-wrapper " >

                        <div  class="row-fluid" >

                            <div class="span10" >




                                <div id="banners">
                            {% render( controller('SetnetArtsenalBundle:Default:getBanners' ) ) %}                        
                                </div>





                                <h2 class="jm_lastest_titulo" style="margin-bottom: 5px;" >Ultimas Artesanias</h2>
                                <div     >


                                    <div class="row-fluid ">

                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}

                                    </div>

                                    <div class="row-fluid jm-producto-spacing">

                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}

                                    </div>

                                    <div class="row-fluid jm-producto-spacing">

                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}


                                {% include 'SetnetArtsenalBundle:Producto:producto.html.twig' %}

                                    </div>
                                </div> 
                            </div>
                        </div>

                    </div>

            {% endblock %}
                </div>




            </div>


            <div id="footer">        
        {% block footer %}
        {% include 'SetnetArtsenalBundle:Templates:template.footer.html.twig' %}
        {% endblock %}
            </div>

        </div>




    </body>
</html>



