 

<div class="clearfix"></div>
<div  style="" >

  <div  style="margin:0 autol; text-align:center; " >
    
  <p style="font-family: lato_light;color:green;" class="lead left"   >{{ mensaje }}</p>

  </div>

  <div class="clearfix"></div>

  

</div> 
<script>
  


setTimeout(function(){
  window.location= '{{ path( 'setnet_artsenal_homepage' ) }}';
} , 2000); 


</script>
