

{% if publicidad %}

<div class="row"  >
	<!-- <div class="row-fluid"   data-spy="affix" data-offset-top="60" data-offset-bottom="200" > -->
	

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "   style="cursor:pointer" onclick="window.open('{{  publicidad.url }}')"   >
		<div   >
			{% thumbnail publicidad.image, 'small'  with { 'class' : 'banner-lateral' }  %}
		</div>
	</div>

</div>

{% endif %}