
<div  id="productos" >

	{% for producto in productos %}
	
	{% if loop.index0 is divisibleby(4) %}
</div>
<div  class="row-fluid jm-producto-spacing fill"  >                            
	{% endif %}
	{% include 'SetnetArtsenalBundle:Block:producto.html.twig' with {   'prod' : producto } %}
	{% if loop.last %}
</div>
{% endif %}

{% endfor %}


</div> 