<ul class="nav nav-list">
    <li class="nav-header  jm-categoria_titulo ">Submenu</li>
    <li  class="jm-categoria-item" style="margin-left: 20px;width: 115px;" >
        <a href="{{ path('artsenal_quienes_somos') }}" >Quienes Somos</a>
    </li>
    <li  class="jm-categoria-item"  style="margin-left: 20px;width: 115px;"  >
        <a href="{{ path('artsenal_preguntas') }}" >Preguntas frecuentes</a>
    </li>
    <li  class="jm-categoria-item"  style="margin-left: 20px;width: 115px;"  >
        <a href="{{ path('artsenal_politicas_privacidad') }}" >politicas de privacidad</a>
    </li>
    <li  class="jm-categoria-item"  style="margin-left: 20px;width: 115px;" >
        <a href="{{ path('artsenal_quienes_somos') }}" >Blog</a>
    </li> 
</ul>