<div class="row  tab-holder">
	<div  class="col-md-3  " >
		<a href="{{  path('creacion_tienda_artsenal') }}" 
		class="tabs_tienda  {% if app.request.get('_route') == 'creacion_tienda_artsenal' %} tabs_tienda_selected {% endif %} "   >Nombre de la tienda</a>
	</div>
	<div  class="col-md-2  " >
		<a href="{{  path('creacion_tienda_producto_artsenal') }}" class="tabs_tienda  {% if app.request.get('_route') == 'creacion_tienda_producto_artsenal' %} tabs_tienda_selected {% endif %} "    >Articulos ( {{  tiene_productos }} )</a>
	</div>
	<div  class="col-md-2  " >
		{% if tiene_productos == 0  %}
			<a href="#" class="tabs_tienda"  onclick="alert( 'favor ingresa al menos un producto para continuar' )" >Membresias</a>
			{% else %}
			<a href="{{  path('creacion_tienda_membresia_artsenal') }}" class="tabs_tienda   {% if app.request.get('_route') == 'creacion_tienda_membresia_artsenal' %} tabs_tienda_selected {% endif %} "  >Membresias</a>
		{% endif %}
	</div>
	<div  class="col-md-2  " >
		<a href="#" class="tabs_tienda"    >Abre tu tienda</a>
	</div>
</div>