<div  class="art-publicidad-block" style="height: 200px;" >
    <div style="position: relative;width: 290px; margin: 0 auto;text-align: center;" >
        <h2 class="art-publicidad-titulo"  style="text-align: left;" >Newsletter</h2>
        <div class="at-publicidad-image-holder" style="width: 370px;" >                
            <p  style="text-align: left;width: 285px; " >Registrate a nuestro newsletter y enterate de las ultimas novedades</p>
            <div>
                <input  type="text" style="float: left;border-radius: 0px 0px 0px 0px;font-style: italic ;  color:rgb(135, 135,135) ;  height: 21px;width: 240px;background-color: rgb(239, 239, 239) " />
                <img  style="float: left;" src="{{  asset("img/aceptar_newsletter.jpg") }}"  />
            </div>
        </div>

    </div>
</div>