<div  class="art-publicidad-block" >
    <h2 class="art-publicidad-titulo">Artsenal en Village Plaza</h2>
    <div class="at-publicidad-image-holder" >                
        <img src="{{   asset("uploads/publicidades/publicidad.jpg") }}" />
        <p  style="text-align: center; " >Visitanos del 26 al 29 de Abril</p>
    </div>
    <div>

    </div>
</div>