<div  class="art-publicidad-block" >
    <h2 class="art-publicidad-titulo" style="text-align: left; " >Titulo de Aviso</h2>
    <div class="at-publicidad-holder" >                
        <img style="float: left;width:206px;" src="{{   asset("uploads/publicidades/publicidad1.jpg") }}" />
        <div    style="float: right;width:40% " >
            <p style="padding-left: 10px; padding-right: 0px;"  >            
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </div>
        <div  style="clear: both;" ></div>
    </div>   
</div>