<div class="span12 jm-producto-holder" style="padding-bottom: 15px;border-right-width:0px; border-left-width: 0px;  " >

    <div class="jm-producto-cart-img"   >      
        <img  src="{{ asset('img/no_image.png') }}" />
    </div>

    <div  class="jm-producto-cart-info" >
        <div  class="jm-producto-info" >
            <p class="jm-producto-titulo" >Nombre de producto</p>
            <div>
                <p class="jm-tienda_artista" >Tienda/Artista</p>                
            </div>
            <div>
                <p class="jm-tienda_artista" >Eliminar</p>                
            </div>
        </div>
    </div>


    <div  class="jm-producto-info-precio" >
        <p class="jm-producto-titulo" style="color: black;" >Precio</p>
        <p class="jm-producto-precio" style="margin-top: 5px;" >$25.00</p>
    </div>

    <div  class="jm-producto-info-precio" >
        <p class="jm-producto-titulo" style="color: black;" >Cantidad</p>
        <p class="jm-producto-precio" style="text-align: center;" >
            <input type="text" style="width: 30px;" value="1" />
        </p>
    </div>

    <div  style="clear: both;" ></div>
</div>