 

<div class="span3 jm-producto-holder" >
    <a  href="{{  path('detalle_producto') }}" class="art-mostrar" >
        <p>
            <img style="width: 100%;" src="{{ asset('img/no_image.png') }}" />
        </p>
        <div  class="jm-producto-info"  >
            <p class="jm-producto-titulo" >Nombre de producto</p>
            <div>
                <p class="jm-tienda_artista" >Tienda/Artistaasda</p>
                <p class="jm-producto-precio" >$25.00</p>
            </div>
        </div>
    </a>
</div> 