
<div class="modal fade" id="modalImagen" style="display: none;" aria-hidden="true">

 

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header"   style="padding-bottom:0px;" >
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4  id="modal_nombre_producto" class="modal-title">Nombre del producto</h4>
		</div>


		<div class="modal-body">


			<form enctype="multipart/form-data" action="{{ path('upload_imagen_tienda') }}" method="POST">

			</form>
			

		</div>
		<div class="modal-footer">
			
		</div>




	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


</div>
