{% extends 'SetnetArtsenalBundle::layout.sidebar.html.twig' %}


{% block left_contenido %} 
<div  class="left-contenido-wrapper" >
    <div class="sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header  jm-categoria_titulo ">Categorias</li>

            {% for item in categorias %}
            <li  class="jm-categoria-item"  >
                <a href="{{  path('categoria_producto' , {  categoria: item.id }) }}" >{{  item.nombre   }}</a>
            </li>
            {% endfor %}

        </ul>
    </div> 
</div> 
{% endblock %}



{% block contenido %} 

<div  class="contenido-wrapper " >

    <div  class="row-fluid" >

        <div class="span10" >

            <div id="banners">
            {% render( controller('SetnetArtsenalBundle:Default:getBanners' ) ) %}                        
            </div>


            <h2 class="jm_lastest_titulo" style="margin-bottom: 5px;" >Ultimas Artesanias</h2>


            <div id="prodSlider">
            {% render( controller('SetnetArtsenalBundle:Default:getProductosSlider' ) ) %}                        
            </div>



            <h2 class="jm_lastest_titulo" style="margin-bottom: 5px;" >Ultimas Tiendas</h2>


            <div id="tiendaSlider">
            {% render( controller('SetnetArtsenalBundle:Default:getTiendasSlider' ) ) %}                        
            </div>


            <h2 class="jm_lastest_titulo" style="margin-bottom: 5px;" >Productos mas visitados</h2>


            <div id="prodVisitadosSlider">
            {% render( controller('SetnetArtsenalBundle:Default:getProductosMasVisitadosSlider' ) ) %}                        
            </div>



        </div>
    </div>

</div>

{% endblock %}