 




<p class="lead"  style="font-family: lato_light;" >Escoja un tipo de suscripcion</p>

{%  for suscripcion in suscripciones %}

    <p class="lead"  style="font-family: lato_light;" >Suscripcion tipo {{suscripcion.nombre }}</p>



    <form name="suscripcion" method="post" action="{{  path('suscripciones') }}"  >
        <input type="submit" value="Escoger este tipo de cuenta" />
        <input type="hidden" name="suscripcion" value="{{  suscripcion.id }}" />
    </form>



    {{  suscripcion.codigoHtml | raw   }}

{%  endfor %}




