
<div class="row-fluid"  style="border-top: 1px solid #DEDEDE ;background-color: white;margin-top: 40px;" >
    <div  class="span4 "  >
        <p class="centered" style="margin: 30px;" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </p>
    </div>

        <div  class="span4 " style="border-left: 1px solid #DEDEDE;" >

                   {% include 'SetnetArtsenalBundle:Publicidades:vendedor.footer.html.twig' %}

        </div>

    <div  class="span4 " style="border-left: 1px solid #DEDEDE;" >
        <p class="centered"  style="margin: 30px;" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </p>
    </div>

</div>


<footer class="footer" style="background-color:#cc3399;">

    <div class="row" style="height: 30px;" >
        <div  class="span8 offset3"  >
            <div  class="row-fluid " >
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Quienes somos</a>             
                </div>
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Preguntas </a>             
                </div>
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Politicas</a>             
                </div>
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Comprar</a>               
                </div>
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Vender</a>               
                </div>
                <div class="span2 art-footer-link-div">
                    <a class="art-footer-link" >Blog</a>               
                </div>      
            </div>
        </div>
    </div> 

</footer>

<div class="row" style="background-color: white;" >
    <div class="span6 offset5" >
        <p  class="precioProducto" style="color: #cc3399;margin-bottom: 0px;" >Artsenal todos los derechos reservados</p>
    </div>
</div>

</div>