{% extends 'SetnetArtsenalBundle:Templates:template.sidebar.html.twig' %}



{% block title %}Artsenal{% endblock %}


  {% block left_contenido %} 
<div  class="contenido-wrapper" >
    <div class="sidebar-nav">
           {%  include 'SetnetArtsenalBundle:Menu:left.info.html.twig' %}
        </div> 
    </div> 
 {%   endblock %}


{% block contenido %} 

    <div  class="contenido-wrapper " >

        <p style="font-family: lato_light;font-size: 26px;" class="lead"   >Quienes somos</p>
        <div  class="row-fluid" >


            <div class="span9" >





                <div id="myCarousel" class="carousel slide"  style='border:solid 5px #CCCCCC;' >

                    <div class="carousel-inner">
                        <div class="item active">
                            <img style="height:220px;width: 100%;" alt="imagen1" src="{{ asset('uploads/info/main.jpg'    ) }}" />
                        </div> 
                    </div> 
                </div>


                <div   style="padding: 30px;margin-top: 60px; background-color: white;border: 1px solid #DEDEDE; border-bottom: 1px solid #AE2794;" >


                {%  for item in contenido  %}

                    <div  style="{%  if not loop.first %}margin-top: 40px;{% endif %}"  >
                        <p style="font-family: lato_light;margin-bottom: 5px;" class="lead text-left">{{ item.titulo }}</p>
                        <div  class="art-fondo-trama" style="position: relative; height: 20px; width: 100%;margin-bottom: 10px;" ></div>

                        <p>
                     {{ item.contenido}}
                            </p> 
                        </div>
                {%  endfor %}


                    </div>

                </div>
            </div>

        </div>




{% endblock %}